.well
  -message.created_at.strftime("%I:%M %p") 
  -message.user.name
  -message.body
-# <div class="well">
-#   [<%= message.created_at.strftime("%I:%M %p") %>] <%= %message.user.username%>:
-#   <%= message.body %>
-# </div>
