- content_for :assets do
  = javascript_include_tag 'project_components'

#projectcomponents
  %benchmark-list-page{                                                   |
    'v-bind:given-items': @components_json,                               |
    'v-bind:is-admin': "false",                                           |
    type: "Component"                                                     |
  }
