- content_for :assets do
  = javascript_include_tag 'project_components'
  -# = stylesheet_link_tag 'project_components'

#projectcomponents
  %projectcomponents{                      |
    'v-bind:components': @components_json, |
  }
