- content_for :assets do
  = javascript_include_tag 'project_components', 'data-turbolinks-track': 'reload', type: 'module'

#projectcomponents
  %projectcomponents{                      |
    'v-bind:components': @components_json, |
  }