- if @component.released && @effective_permissions.nil?
  - content_for :assets do
    = javascript_include_tag 'released_component'
    = stylesheet_link_tag 'project_component'

  #releasedcomponent
    %releasedcomponent{                          |
      'v-bind:component': @component_json,       |
    }
- else
  - content_for :assets do
    = javascript_include_tag 'project_component'
    = stylesheet_link_tag 'project_component'

  #projectcomponent.vulcan-editor-layout
    %projectcomponent{ **common_vue_props,                               |
      'v-bind:queried-rule': (@rule_json || {}.to_json),                 |
      'v-bind:initial-component-state': @component_json,                 |
      'v-bind:project': @project_json,                                   |
    }
