services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - vulcan_dbdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: vulcan_postgres_production
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile.production
    environment:
      DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD}@db/vulcan_postgres_production
      RAILS_SERVE_STATIC_FILES: "true"
      RAILS_ENV: production
      NODE_ENV: production
      # jemalloc is enabled in the Dockerfile
      LD_PRELOAD: /usr/local/lib/libjemalloc.so
      MALLOC_ARENA_MAX: "2"
    env_file: .env
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000/users/sign_in || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

volumes:
  vulcan_dbdata:
