version: '3'

services:
#  db:
#    image: postgres
#    volumes:
#      - sqlite-data:/var/www/vulcan/db
#      # - ./tmp/db:/var/www/vulcan/db
  web:
    build: .
    command: 
      - "rails"
      - "server"
      - "-p"
      - "3030"
      - "-b"
      - '0.0.0.0'
    volumes:
      - sqlite-data:/var/www/vulcan/db
    #   - .:/var/www/vulcan
    environment:
      RAILS_LOG_TO_STDOUT: "true"
      RAILS_SERVE_STATIC_FILES: "true"
    ports:
      - "3030:3030"
    # depends_on:
    #   - db
volumes:
  sqlite-data:
  
