- content_for :assets do
  = javascript_include_tag 'user_profile'

= render 'users/settings_layout', active: :profile do
  #user-profile
    %userprofile{
      'v-bind:user': current_user.to_json,
      'v-bind:session-auth-method': (session[:auth_method] || 'local').to_json
    }
