- content_for :assets do
  = javascript_include_tag 'user_profile'

#user-profile
  %userprofile{                                           |
    'v-bind:user': current_user.to_json,                  |
    'v-bind:histories': (@histories || []).to_json        |
  }
