<!DOCTYPE html>
<html>
  <%= render 'user_mailer/shared_styles' %>
  <body>
    <p>Hi <%= @user.name%>,</p>
    <p>Your request to access project <span class='text-blue'><%= @project.name%></span> was denied.</p>
    <p>If you believe this is an error, please contact one of the project's admins cc'd on this email.</p>
    <br/>
    <p>Thank you,</p>
    <p>Vulcan Support</p>
  </body>
</html>
