%h4 What is Vulcan?

%p Vulcan helps Subject Matter Experts (SMEs) apply Security Requirements Guides (SRGs) to author Security Technical Implementation Guides (STIGs) & corresponding InSpec Profiles as security testing content.
%p=Settings['welcome_text']
