- content_for :assets do
  = javascript_include_tag 'user_comments'

#mycommentspage
  %mycommentspage{
    'v-bind:user-id': @target_user.id.to_json,
    'v-bind:user-name': @target_user.name.to_json,
    'v-bind:is-self': (@target_user.id == current_user.id).to_json,
  }
