- content_for :assets do
  = javascript_include_tag 'users'

#users
  %Users{                                   |
    'v-bind:users': @users.to_json,        |
    'v-bind:histories': @histories.to_json |
  }
