- content_for :assets do
  = javascript_include_tag 'users', 'data-turbolinks-track': 'reload', type: 'module'

#Users
  %Users{                                   |
    'v-bind:users': @users.to_json,        |
    'v-bind:histories': @histories.to_json |
  }