-# - content_for :assets do
-#   = javascript_pack_tag 'icon'

-# -binding.pry
#notifications
  %notificationbox{                                             |
    'v-bind:messages': @messages.to_json,                       |
    'v-bind:users': @users.to_json                              |
  }                                                             |

