-# - content_for :assets do
-#   = javascript_pack_tag 'icon'

#notifications
  %notificationbox{                                             |
    'v-bind:messages': @messages.to_json(:include => :user)     |
  }                                                             |

