<div id="wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Edit Project <%= @project.name %></h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <div class="row">
    <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <%= render 'edit_form', project: @project %>

                <%= link_to 'Back', projects_path %>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
    </div>
</div>

