- content_for :assets do
  = javascript_pack_tag 'projects'

#Projects
  %Projects{                                                   |
    'v-bind:projects': @projects.to_json,                      |
  }
