- content_for :assets do
  = javascript_pack_tag 'project'
  = stylesheet_pack_tag 'project'

#Project
  %Project{                                                     |
    'v-bind:project_permissions': @project_permissions.to_json, |
    'v-bind:initial-project-state': @project_json.to_json,      |
    'v-bind:current_user_id': current_user.id.to_json,          |
    'v-bind:statuses': RuleConstants::STATUSES.to_json,         |
    'v-bind:severities': RuleConstants::SEVERITIES.to_json,     |
  }
