- content_for :assets do
  = javascript_include_tag 'project'
  = stylesheet_link_tag 'project'

#Project
  %Project{ **common_vue_props,                          |
    'v-bind:initial-project-state': @project_json,       |
  }
