- content_for :assets do
  = javascript_pack_tag 'project'
  = stylesheet_pack_tag 'project'

#Project
  %Project{                                                                         |
    'v-bind:effective_permissions': @effective_permissions.to_json,                     |
    'v-bind:initial-project-state': @project_json,                                  |
    'v-bind:current_user_id': current_user.id.to_json,                              |
    'v-bind:statuses': RuleConstants::STATUSES.to_json,                             |
    'v-bind:severities': RuleConstants::SEVERITIES.to_json,                         |
    'v-bind:available_roles': ProjectMemberConstants::PROJECT_MEMBER_ROLES.to_json, |
  }
