-# Vue SPA Login Page
-# LoginPage.vue handles all auth: OIDC, LDAP, Local Login, Registration

:javascript
  // Auth configuration for Vue SPA
  window.vueAppData = window.vueAppData || {};
  window.vueAppData.authProviders = #{auth_providers_config.to_json};
  window.vueAppData.localLoginEnabled = #{local_login_enabled?.to_json};
  window.vueAppData.registrationEnabled = #{user_registration_enabled?.to_json};

#app

= vite_javascript_tag 'LoginPage'
