- content_for :assets do
  = javascript_pack_tag 'project_members'
  = stylesheet_pack_tag 'project_members'

#ProjectMembers
  %ProjectMembers{                                                                  |
    'v-bind:project_members': @project_members.to_json,                             |
    'v-bind:project': @project.to_json,                                             |
    'v-bind:available_members': @project.available_members.to_json,                 |
    'v-bind:available_roles': ProjectMemberConstants::PROJECT_MEMBER_ROLES.to_json, |
    'v-bind:project_members_count': @project.project_members_count.to_json, |
  }
