- content_for :assets do
  = javascript_pack_tag 'rules'
  = stylesheet_pack_tag 'rules'

#Rules
  %Rules{                                                                           |
    'v-bind:project': @project.to_json,                                             |
    'v-bind:component': @component.to_json,                                         |
    'v-bind:rules': @rules.to_json,                                                 |
    'v-bind:statuses': RuleConstants::STATUSES.to_json,                             |
    'v-bind:severities': RuleConstants::SEVERITIES.to_json,                         |
    'v-bind:severities_map': RuleConstants::SEVERITIES_MAP.to_json,                 |
    'v-bind:effective_permissions': @effective_permissions.to_json,                 |
    'v-bind:current_user_id': current_user.id.to_json                               |
  }
