- content_for :assets do
  = javascript_include_tag 'rules'
  = stylesheet_link_tag 'rules'

#Rules.vulcan-editor-layout
  %Rules{ **common_vue_props,                                |
    'v-bind:project': ProjectBlueprint.render(@project),     |
    'v-bind:component': @component_json,                     |
    'v-bind:rules': @rules_json,                             |
  }
