- content_for :assets do
  = javascript_include_tag 'stigs'

#Stigs
  %benchmark-list-page{                                                   |
    'v-bind:given-items': @stigs_json,                                    |
    'v-bind:is-admin': (current_user&.admin ? "true" : "false" ),         |
    type: "STIG"                                                          |
  }
