- content_for :assets do
  = javascript_include_tag 'stigs', 'data-turbolinks-track': 'reload', type: 'module'

#Stigs
  %Stigs{                                                               |
    'v-bind:givenstigs': @stigs.to_json,                                |
    'v-bind:is_vulcan_admin': (current_user&.admin ? "true" : "false" ) |
  }