- content_for :assets do
  = javascript_include_tag 'stig'
  = stylesheet_link_tag 'project_component'

#stig
  %stig{                                   |
    'v-bind:stig': @stig_json              |
  }
