- content_for :assets do
  = javascript_pack_tag 'stig'
  = stylesheet_pack_tag 'project_component'

#stig
  %stig{                                                                |
    'v-bind:queried-rule': @rule_json,                                              |
    'v-bind:stig': @stig_json,                                                      |
    'v-bind:severities': RuleConstants::SEVERITIES.to_json,                         |
    'v-bind:severities_map': RuleConstants::SEVERITIES_MAP.to_json,                 |
  }
