- content_for :assets do
  = javascript_pack_tag 'security_requirements_guides'

#SecurityRequirementsGuides
  %SecurityRequirementsGuides{                                          |
    'v-bind:givensrgs': @srgs.to_json,                                  |
    'v-bind:is_vulcan_admin': (current_user&.admin ? "true" : "false" ) |
  }
