- content_for :assets do
  = javascript_include_tag 'security_requirements_guides', 'data-turbolinks-track': 'reload', type: 'module'

#SecurityRequirementsGuides
  %SecurityRequirementsGuides{                                          |
    'v-bind:givensrgs': @srgs.to_json,                                  |
    'v-bind:is_vulcan_admin': (current_user&.admin ? "true" : "false" ) |
  }