name: Run Test Suite on PR or push to master

on:
  push:
    branches: [ master, vulcan-next ]
  pull_request:
    branches: [ master, vulcan-next ]

jobs:
  test:

    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:12
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      ldap:
        image: rroemhild/test-openldap
        ports:
          - 389:389

    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Cache ruby gems
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Build and run tests
        env:
          DATABASE_URL: postgres://postgres:@localhost:5432/test
          RAILS_ENV: test
          # Options below this line are so we can test LDAP
          ENABLE_LDAP: true
          LDAP_ATTRIBUTE: mail
          LDAP_BIND_DN: cn=admin,dc=planetexpress,dc=com
          LDAP_BASE: ou=people,dc=planetexpress,dc=com
          LDAP_PORT: 389
          LDAP_ADMIN_PASS: GoodNewsEveryone

        run: |
          sudo apt-get -yqq install libpq-dev
          echo "gem: --no-document" > ~/.gemrc
          gem install bundler --conservative
          bundle config path vendor/bundle
          bin/setup
          bundle exec rubocop
          bundle exec rails spec
      - name: Upload coverage results
        uses: actions/upload-artifact@master
        if: always()
        with:
          name: coverage-report
          path: coverage
