- content_for :assets do
  = javascript_include_tag 'user_password'

= render 'users/settings_layout', active: :password do
  #user-password-page
    %userpasswordpage{
      'v-bind:user': current_user.to_json,
      'v-bind:password-policy': Settings.password.to_json
    }
